/* General */

html {
	font-family: Arial, sans-serif;
}

body {
	font-size: 18px;
	line-height: 1.2;
}

h2 {
	font-size: 3em;
	padding: 1rem;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	padding: 1rem;
	font-weight: bold;
}

.detail {
	font-size: 1.5rem;
	padding: 1rem;
}

a {
	text-decoration: none;
}

/* NAV */


header {
	position: fixed;
	height: 4rem;
	width: 100%;
	background-color: white;
	z-index: 10;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1.5rem;
	height: 100%;
}

.logo img {
	height: 2rem;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
}

.logo span:last-child {
	color: #00BCD4;
	font-weight: normal;
}

nav {
	display: flex;
	align-items: center;
	float: right;
}

nav a {
	font-size: 1.25rem;
	padding-left: 1rem;
	color: #333333;
}

nav a:hover {
	color: #00BCD4;
	font-weight: bold;
}


/* BANNER */

.banner {
	display: flex;
	padding: 0.5rem;
	position: relative;
	top: 4rem;
	margin-bottom: 4rem;
	background-color: #9e9e9e40;
}

.banner img {
	width: 60%;
	padding: 1.5rem;
}

.banner-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 1.5rem;
}

.banner-content h2 {
	opacity: 0.75;
}

.banner-content h3 {
	margin: 2rem 0;
	opacity: 0.5;
}

.banner-content button {
	padding: 0.5rem;
	font-size: 2rem;
	background-color: #00BCD4;
	width: 60%;
	border-radius: 0.25rem;
}

.banner-content button a {
	color: white;
}

.banner-content button:hover {
	background-color: #510CE8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.banner-content button:active {
}


/* ACADEMY INFO */

/*content*/
.academy-info {
	display: flex;
}

.academy-info .content {
	width: 60%;
	padding: 2rem 1.5rem;
}

.academy-info img {
	max-width: 100%;
}

/*info attributes*/
.ai-info {
	width: 40%;
}

.ai-info ul li {
	display: flex;
	padding: 16px;
	border: 1px solid silver;
}

.ai-info img {
	width: 35%;
	height: auto;
}

.ai-info a {
	font-size: 1.5rem;
	color: blue;
	padding: 1rem;
}

.ai-info a:hover {
	color: #00BCD4;
}


/* COURSES CATALOG */

.course-catalog {
	padding: 2rem;
	background-color: #9e9e9e40;
}

.course-catalog ul {
	padding: 2rem 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.course-catalog ul li {
	margin: 2rem;
	background-color: white;
}

.course-catalog-info {
	padding: 1rem;
	max-width: 17rem;
	margin-bottom: 0.5rem;
}

.courses {
	text-transform: uppercase;
}

.course-subjects {
	font-size: 2rem;
	color: silver;
}


/* THESIS EXHIBIT */

.thesis {
	padding: 1.5rem;
}

.thesis-exhibit-content {
	display: flex;
	padding: 0.5rem;
}

.thesis-exhibit-content ul li {
	display: flex;
	align-items: center;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid silver;
}