/* General */

html {
	font-family: Arial, sans-serif;
}

body {
	font-size: 18px;
	line-height: 1.2;
}

h2 {
	font-size: 3em;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	font-weight: bold;
}

h2, h3 {
	opacity: 0.75;
}

a {
	text-decoration: none;
	color: #FF2400;
}

/* NAV */


header {
	position: fixed;
	height: 4rem;
	width: 100%;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid #FF2400;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1.5rem;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 3rem;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	color: #FF2400;
}

.logo span:last-child {
	color: gray;
	font-weight: normal;
	margin-left: 3px;
}

nav {
	display: flex;
	align-items: center;
	float: right;
}

nav a {
	font-size: 1.25rem;
	padding-left: 1rem;
	color: gray;
	transition: color .5s;
	position: relative;
	top: 2px;
}

nav a:hover {
	color: #FF2400;
}

.nav-underline {
	height: 2px;
	width: 0;
	background-color: red;
	position: relative;
	left: 50%;
	transition: width .5s, left .5s;
}

nav a:hover .nav-underline {
	display: block;
	left: 0;
	width: 100%;
}


/* BANNER */

.banner {
	display: flex;
	padding: 0.5rem;
	position: relative;
	top: 4rem;
	margin-bottom: 4rem;
	background-color: #9e9e9e40;
}

.banner img {
	width: 60%;
	padding: 1.5rem;
}

.banner-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 1.5rem;
}

.banner-content h3 {
	margin: 2rem 0;
	opacity: 0.5;
}

.banner-content a {
	padding: 0.5rem;
	font-size: 2rem;
	background-color: #FF2400;
	width: 60%;
	border-radius: 0.25rem;
	color: white;
	text-align: center;
}

.banner-content a:hover {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	color: #FF2400;
}


/* ACADEMY INFO */

/*content*/
.academy-info {
	display: flex;
}

.academy-info .content {
	width: 60%;
	padding: 2rem 1.5rem;
	border-right: 1px solid #9e9e9e40;
}

.academy-info .content img {
	max-width: 100%;
	padding-bottom: 1rem;
}

.academy-info .content h2 {
	padding: 1rem 0;
}

.academy-info p, .academy-info blockquote {
	font-size: 1.5rem;
	color: gray;
	padding: 0.5rem 0;
}

#info-signature {
	color: initial;
	font-size: 1.25rem;
}

/*info attributes*/
.academy-info ul {
	width: 40%;
}

.academy-info ul li {
	display: flex;
	align-items: center;
	border: 1px solid #9e9e9e40;
}

.academy-info ul li:first-child {
	border-top: none;
}

.academy-info ul li img {
	width: 35%;
	height: auto;
	margin: 1rem;
}

.academy-info ul li a {
	font-size: 1.5rem;
}

.details a:hover {
	color: #2400FF;
}

#guest-lecture {
	background-color: #9e9e9e40;
}


/* COURSES CATALOG */

.course-catalog {
	padding: 2rem;
	background-color: #9e9e9e40;
}

.course-catalog ul {
	padding: 2rem 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.course-catalog ul li {
	margin: 2rem;
	background-color: white;
}

.course-catalog-info {
	padding: 1rem;
	max-width: 17rem;
	margin-bottom: 0.5rem;
}

.courses {
	text-transform: uppercase;
}

.course-subjects {
	font-size: 2rem;
	color: silver;
}


/* THESIS EXHIBIT */

.thesis {
	padding: 1.5rem;
}

.thesis-exhibit-content {
	display: flex;
	padding: 0.5rem;
}

.thesis-exhibit-content ul li {
	display: flex;
	align-items: center;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid silver;
}