/* General */

html {
	font-family: Arial, sans-serif;
}

body {
	font-size: 18px;
	line-height: 1.2;
}

h2 {
	font-size: 3em;
	font-weight: bold;
}

h3 {
	font-size: 1.75em;
	font-weight: bold;
}

h2, h3 {
	opacity: 0.75;
}

a {
	text-decoration: none;
}

/* NAV */


header {
	position: fixed;
	height: 4rem;
	width: 100%;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid #FF2400;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1.5rem;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
	position: relative;
	left: 0;
	/*animation: logoposition1 2s, logoposition2 2s 2s;*/
}

.logo img {
	height: 3rem;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	color: #FF2400;
}

.logo span:last-child {
	color: gray;
	font-weight: normal;
	margin-left: 3px;
}

nav {
	display: flex;
	align-items: center;
	float: right;
}

nav a {
	font-size: 1.25em;
	padding-left: 1rem;
	color: gray;
	transition: color .5s;
	position: relative;
	top: 2px;
}

nav a:hover {
	color: #FF2400;
}

.nav-underline {
	height: 2px;
	width: 0;
	background-color: red;
	position: relative;
	left: 50%;
	transition: width .5s, left .5s;
}

nav a:hover .nav-underline {
	display: block;
	left: 0;
	width: 100%;
}

/* BANNER */

.banner {
	display: flex;
	padding: 0.5rem;
	position: relative;
	top: 4rem;
	margin-bottom: 4rem;
	background-color: #9e9e9e40;
}

.banner img {
	width: 60%;
	padding: 1.5rem;
}

.banner-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 1.5rem;
}

.banner-content h3 {
	margin: 2rem 0;
	opacity: 0.5;
}

.banner-content a {
	padding: 0.5rem;
	font-size: 2em;
	background-color: #FF2400;
	width: 60%;
	border-radius: 0.25rem;
	color: white;
	text-align: center;
	transition: box-shadow .2s, background-color .2s, color .2s;
	box-shadow: 0 2px 10px gray;
}

.banner-content a:hover {
	box-shadow: initial;
}


/* ACADEMY INFO */

/*content*/
.academy-info {
	display: flex;
	background-color: rgb(248,248,248);
}

.academy-info .content {
	width: 60%;
	padding: 2rem 1.5rem;
	border-right: 1px solid #9e9e9e40;
}

.academy-info .content img {
	max-width: 100%;
	padding-bottom: 1rem;
}

.academy-info .content h2 {
	padding: 1rem 0;
}

.side-item p, blockquote {
	font-size: 1.25em;
	color: gray;
	padding: 0.5rem 0;
}


#info-signature {
	color: initial;
	font-size: 1.25rem;
}

/*info attributes*/
.academy-info ul {
	width: 40%;
}

.details a {
	color: #2400FF;
	transition: color 0.1s;
}

.details a:hover {
	color: #FF2400;
}

/* SIDE ITEM STYLING --
affects academy info and thesis exhibit sections */

.side-item {
	display: flex;
	align-items: center;
	border: 1px solid #9e9e9e40;
	background-color: white;
}

.academy-info ul li:first-child {
	border-top: none;
}

.side-item img {
	width: 35%;
	height: auto;
	margin: 1rem;
}

.side-item a {
	font-size: 1.5rem;
}

/* this is the code that adds a box shadow and changes the background to hover focused list items */
/* pretty sure this is way easier to do just add a class using js but couldnt think of another way with just html/css (and wasnt gonna be that big of an overachiever) */
.hover-detail:hover { 
	box-shadow: 0 0 60px gray;
	background-color: #9e9e9e40;
	cursor: pointer;
}

.hover-detail { 
	transition: box-shadow .5s, background-color .5s;
}


/* COURSES CATALOG */

.course-catalog {
	background-color: #9e9e9e40;
}

.course-catalog h2 {
	text-align: center;
	padding-top: 2rem;
}

.course-catalog ul {
	padding: 1rem 3.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.course-catalog ul li {
	margin: 1rem;
	background-color: white;
}

.course-catalog-info {
	padding: 1rem;
	max-width: 500px;
	margin-bottom: 0.5rem;
}

.courses {
	text-transform: uppercase;
	padding: 0.5rem 0;
	color: black;
}

.course-catalog-info .detail {
	color: gray;
}


/* THESIS EXHIBIT */

.thesis {
	padding-bottom: 2rem;
	background-color: rgb(248,248,248);
}

.thesis h2 {
	padding: 2rem;
	text-align: center;
}
.thesis-exhibit-content {
	display: flex;
}

.video-section {
	padding: 0 1.5rem;
	width: 60%;
}

.video-section video {
	padding-bottom: 1.5rem;
}

.video-section h3 {
	padding-bottom: 0.5rem;
}

.thesis-exhibit-content ul li {
	display: flex;
	align-items: center;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid silver;
	padding: 1rem 1.5rem;
	margin-bottom: 4rem;
	color: gray;
}


/* MOBILE */

.mobile {
	display: none;
}

.mobile img {
	width: 2rem;
}

.mobile a:active img {
	width: 3rem;
}

@media only screen and (max-width: 1000px) {
	/* nav */
	.desktop {
		display: none;
	}

	.mobile {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	/* banner */
	.banner {
		flex-direction: column;
		padding: 0;
		align-items: center;
	}

	.banner img {
		width: 100%;
		padding: 0;
	}

	.banner-content {
		margin: 1rem;
	}

	.banner-content h2 {
		padding: 1rem 0;
	}

	.banner-content h3 {
		margin: 0;
		padding: 1rem 0;
	}

	.banner-content a {
		box-shadow: none;
		margin: 0.5rem 0 1rem 0;
		width: 100%;
	}

	/* academy info */
	.academy-info .content {
		display: none;
	}

	.academy-info ul {
		width: 100%;
	}

	.side-item {
		flex-direction: column;
		border: none;
		align-items: left;
		padding: 1rem;
		padding-bottom: 3rem;
	}

	.side-item img {
		margin: 0;
		width: 100%;
	}

	.side-item .details {
		padding: 1rem;
	}

	/* hover reset for weird look on mobile when touching and not hovering */
	.hover-detail:hover {
		box-shadow: none;
		background-color: white;
		cursor: default;
	}
	/* -- */
}